textarea {resize: none}

* {box-sizing: border-box}

body {
	font-family: Roboto;
	margin: 0;
	height: 100vh;
	background: #fafafa;
}

a,
a:hover,
a:focus {text-decoration: none}

#pageContent {padding: 10px}

#viewCard {margin-top: 10px}

#drawerBtn, #menu-btn, .mdc-menu-anchor {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#topAppBar {font-size: 16px}

#searchInput {outline: none}

#suggestCommandsForm .mdc-text-field {width: 100%}

#suggestCommandsForm .mdc-text-field--outlined::before,
#suggestCommandsForm .mdc-text-field--outlined::after {
	width: 0 !important;
	height: 0 !important;
}

.material-icons-dark {color: rgba(0, 0, 0, 0.54) !important}

.code101-logo {font-family: "Press Start 2P"}

.code101-logo-colored {
	font-family: "Press Start 2P";
	color: #6200ee !important;
}

/* ########## MINI CARDS ########## */

.miniCard {
	margin-left: 0;
	display: flex;
	width: 184px;
	height: 184px;
	flex-grow: initial;
	margin: 12px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	transition: 200ms;
	background: #fff;
	cursor: pointer;
	transform: translateZ(0);
	box-sizing: border-box;
	line-height: 1.15;
	user-select: none;
	outline: none;
}

.miniCard:hover {transform: scale(1.05)}

.miniCard:active {transform:scale(.9)}

.miniCard img {
	transition: 150ms;
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 20px;
	border-style: none;
}

/* ########## ACCORDIONS ########## */

.panel {background-color: #fff}

.panel-body {padding: 30px}

.panel-title {
	margin-top: 0;
	margin-bottom: 8px;
}

.accordion {margin-bottom: 60px}

.accordion .collapsed,
.toggle .collapsed {display: none}

.panel-group .panel {
	border: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin-bottom: 0;
	border-radius: 4px;
}

.panel-group .panel {margin-top: 10px}

.panel-group .panel-heading {
	position: relative;
	padding: 0;
	border-radius: 0;
	display: block;
	border-bottom: 0;
}

.panel-default > .panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-group .panel-heading > a {
	background: #eee;
	display: block;
	padding: 18px 15px;
}

.panel-group .panel-title {
	color: #333;
	font-size: 1.5rem;
}

.panel-group a[aria-expanded='true'] {
	background: #6200ee;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-group a[aria-expanded='true'] .panel-title,
.panel-group a[aria-expanded='true'] .panel-subtitle {
	color: #fff;
}

.panel-group .accordion-toggle-icon {
	font-size: 16px;
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 12px;
	transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
	color: #333;
}

.panel-group [aria-expanded='true'] .accordion-toggle-icon {
	color: #fff;
	-webkit-transform: rotate(180deg) translateZ(0);
	transform: rotate(180deg) translateZ(0);
}